body
{
    font-family: arial, sans-serif;
}

a
{
    text-decoration: none;
    color: blue;
}
a:visited
{
    color: blue;
}
a:hover
{
    color: #888;
}

.err
{
    color: red;
}

#header
{
    background-color: #ccc;
    padding: 1px 25px 25px 25px;
}

#accounts
{
    float: right;
}

#menu a
{
    background-color: black;
    color: white;
    padding: 5px;
    text-decoration: none;
}
#menu a:visited
{
    color: white;
}
#menu a:hover
{
    background-color: white;
    color: black;
    padding: 5px;
    text-decoration: none;
}

#main
{
    padding: 10px 25px 10px 25px;
}

a .bigbutton
{
    font-size: 72pt;
    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
a .bigbutton:hover
{
    background-color: white;
    color: black;

}

#footer
{
    background-color: #ccc;
    padding: 10px 25px 10px 25px;
}